{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receipts</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">Home</a>
        </li>
        {% if user.is_staff %}
        <li>
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>

        {% else %}
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
          <a href="{% url 'signup' %}">Sign up</a>
        </li>
        {% endif %}
        <li>
          <a href="{% url 'account_new' %}">Create Account</a>
        </li>
        <li>
          <a href="{% url 'expense_category_new' %}">Create Expense Category</a>
        </li>
        <li>
          <a href="{% url 'receipt_new' %}">Create Receipt</a>
        </li>
      </ul>
    </nav>
  </header>
  {% block content %}

  {% endblock content %}
</body>

</html>