{% extends 'base.html' %}

{% load decoder %}

{% block content %}
<main class="link-grid">
  <div class="link-grid-entry">
    <a href="{% url 'accounts_list' %}">Accounts List View</a>
  </div>
  <div class="link-grid-entry">
    <a href="{% url 'expense_category_list' %}">Expense Category List View</a>
  </div>

  {% if user.is_authenticated %}
  <table>
    <thead>
      <tr>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      {% for receipt in receipt_list %}
      <tr>
        <td>{{ receipt.vendor }}</td>
        <td>{{ receipt.total }}</td>
        <td>{{ receipt.tax }}</td>
        <td>{{ receipt.date }}</td>
        <td>{{ receipt.category }}</td>
        <td>{{ receipt.account | default_if_none:"Cash" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <!-- <div>
    <p> Special Decoder </p>
    <form method="post">
      <input placeholder="enter hex message" required type="string" name="hex">
      {% csrf_token %}
      <button class="button">Decode</button>
    </form>
    <p>Decoded message: </p>
  </div> -->
</main>

{% endblock content %}